.widgetmid{
    margin: 0 auto;
    background: blue;
    margin-top: 5pc;
}

.mid {
    margin: 0 auto;
}

.infolink {
    margin: 0 auto;
    text-align: center;
}

.padding {
    padding: 0;
}
