.header {
    background: white !important;
    }
    
    nav a{
        float: left;
    }
    
    .navbar {
        background: #34495e !important;
    }
    
    .navbar-nav {
        margin: 0 auto;
    }
    
    .nav-link {
        padding-right: 5pc !important;
        color: white !important;
    }
    
    .nav-item {
        font-size: 20px;
    }
    
    li{
        display: inline;
        padding: 5px;
    }
    
    .searchcreate nav {
    float: right
    }
    
    .searchcreate{
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    
    form input, form{
        display: inherit;
        /border-radius: 10px;/
        /border: 1px solid black;/
    
    }
    
    form  input[type='submit']{
        border: none;
        background-color: transparent;
        color: #ffffff;
    }
    
    fas{
        background-color: transparent;
    }
    
    table{
        width: 100%;
        text-align: center;
    }
    
    a button{
        border-radius: 10px;
        color: #ffffff;
        border: 1px solid black;
        background-color: blue;
        font-size: 25px;
    }

    @media screen and (max-width: 768px) {

    .nav-link{
        width: 100%;
    }
    }