.homebutton {
    position: absolute;
    width: 5pc;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5pc;
}

.carousel-indicators {
    margin-bottom: -2pc;
}

.carousel {
    width: 100% !important;
    margin: 0 auto !important;
}

.carousel-inner {
    width: 80% !important;
    margin: 0 auto !important;
}
