.tijdentitle h2{
    text-align: center;
}

.event{
    /*border: 1px solid black;
    padding: 20px;*/
    background: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.eventrow{
    padding: 20px;
}

.datum_party{
    text-align: center;
}

.title_bios{
    text-align: center;
}

.submitForm{
    background-color: #34495e !important;
}

form input, textarea{
    border: 2px solid #34495e;
    border-radius: 5px;
}

.animation {
    width: 100px;
    height: 100px;
    
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

